/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of reset code */

:root {
  --green: #00bf63;
  --yellow: #ffde59;
  --red: #ff5757;
  --blue: #0cc0df;
  --purple: #cb6ce6;
  --border: 1px solid black;
}

@font-face {
  font-family: "BDScript";
  font-weight: bold;
  src: url("assets/font/BDScript-Bold.woff") format("woff");
}

body {
  font-family: "Prompt", sans-serif;
  user-select: none;
}

main {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: var(--border);
  background-color: white;
}

#content-wrapper {
  max-width: 20rem;
  width: 80%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 70%;
  max-width: 15rem;
  animation: fadeInLeft 1.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-family: "BDScript";
  font-size: 4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 100;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

button {
  color: black;
}

#input-field {
  width: 100%;
  border: var(--border);
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

#multi-button-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 1rem;
}

#multi-button {
  display: inline-block;
}

.category-button {
  border: var(--border);
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 7px;
  margin-right: 5px;
  font-weight: 300;
  transition: transform 0.3s ease;
  transform-origin: left center;

  &:hover {
    transform: scaleX(1.1);
  }
}

#food {
  background-color: var(--green);

  &:hover {
    color: var(--green);
    background-color: black;
    border: 1px solid var(--green);
  }
}

#health {
  background-color: var(--yellow);

  &:hover {
    color: var(--yellow);
    background-color: black;
    border: 1px solid var(--yellow);
  }
}

#hobby {
  background-color: var(--red);

  &:hover {
    color: var(--red);
    background-color: black;
    border: 1px solid var(--red);
  }
}

#fashion {
  background-color: var(--blue);

  &:hover {
    color: var(--blue);
    background-color: black;
    border: 1px solid var(--blue);
  }
}

#electronic {
  background-color: var(--purple);

  &:hover {
    color: var(--purple);
    background-color: black;
    border: 1px solid var(--purple);
  }
}

#add-button {
  font-weight: 300;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #d1d1d1;
  }
}

#shopping-list-container {
  border: 1px solid black;
  box-shadow: inset 2px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
}

#shopping-list-container p {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

#shopping-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 5px;
}

.list-item {
  list-style: none;
  border: var(--border);
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 7px;
  margin-right: 5px;
  font-weight: 300;
}

@media screen and (min-width: 375px) {
  body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    max-width: 25rem;
  }
}
